:root {
  /* Color */
  --color-white: #fff;
  --color-red: #cc0000;
  --color-blue: #002dcc;
  --color-dark-grey: #616161;
  --color-grey: #d8d8d8;
  --color-light-grey: #f5f5f5;
  --color-black: #000;
  --color-shadow: #d1d1d122;
  --color-back: #d1d1d144;

  /* Font-style */
  --font-style: "Noto Sans KR", sans-serif;

  /* Font size */
  --font-big: 2.8125rem;
  --font-large: 1.75rem;
  --font-medium: 1.125rem;
  --font-regular: 1rem;
  --font-small: 0.875rem;

  /* Font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size (border-radius, padding, margin)*/
  --size-large: 1.25rem;
  --size-medium: 1rem;
  --size-regular: 0.75rem;
  --size-small: 0.5rem;
  --size-micro: 0.25rem;

  /* Display size */
  --display-maxWidth: 1200px;

  /* Navbar size */
  --navbar-height: 3.5rem;

  /* Animation duration */
  --animation-duration: 300ms;
}

html {
  font-size: 16px;
}

* {
  font-family: var(--font-style);
}

/* Typography */
h1 {
  font-size: var(--font-big);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h4 {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.25rem 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.25rem 0;
}

span {
  font-size: var(--font-small);
  font-weight: var(--weight-light);
  color: var(--color-dark-grey);
  margin: 0.125rem 0;
}

a {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-grey);
  margin: 0.125rem 0;
}

a:hover {
  font-weight: var(--weight-semi-bold);
  cursor: pointer;
  text-decoration: none;
}

button {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-grey);
  margin: 0.125rem 0;
}

select {
  width: 6rem;
  padding: var(--size-small) var(--size-micro);
  border: none;
  font-family: inherit;
  font-size: var(--font-small);
  color: var(--color-dark-grey);
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

select:hover,
button:hover i {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: 99;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--color-light-grey);
  background-clip: padding-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-track {
  margin: var(--size-regular);
  border-radius: 4px;
  background-color: var(--color-white);
  box-shadow: inset 0px 0px 5px var(--color-light-grey);
}
